

body{
    font-family:'Times New Roman', Times, serif;
}
.main {
    display: flex; /* Display children side by side */
    justify-content: space-between; /* Align items with space between them */
    position: relative;
    margin-top: 30px;
    box-sizing: border-box;
    color: aqua;
    height: 80vh;
  }
  
  .sidebar {
    margin-left: 68px;
    margin-top: 10px;
    height: 100%;
    flex: 0 0 230px;/* Fixed width for the sidebar */
    background-color: var(--blue-color); /* Add your desired background color */
    padding: 10px; /* Add padding to the sidebar */
    border-radius: 8px;
    overflow: auto;
  }
  
  .container {
    flex: 1; /* Take up remaining space */
    padding: 10px; /* Add padding to the main content */
    border-radius: 10px; 
    
  }
  .films{
    font-size: 18px;
    color: black;
  }

.main1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   /* background-color: #e9f4f8;*/
   background-color: var(--blue-color); /* Add your desired background color */
    padding: 10px; /* Add padding to the sidebar */
    border-radius: 8px;
    margin-right: 55px;
    height: 100%;
    flex: 0 0 1250px;
   text-align: center;
   
}
.button{
  padding: 60px;
  margin-top: 20px;
  border-radius: 0.5rem;
  width: 800px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.button:hover{
  background-color: rgb(217, 216, 214);
  transform: scale(1.04);
}
.dashboard-image{

 justify-content: space-between;
    width: 700px;
    margin-top: -20px;
  
}

.button-content .welcome{
 font-weight: 700;
  font-size: 25px;
 color: #3B3F5C;
 font-style: normal;
 margin-right: 410px;
 letter-spacing: 0.14px;
 align-self: stretch;

}


.button-content .dashboard{
  
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
 color: #3B3F5C;
 margin-right: 585px;
 line-height: 24px;
 letter-spacing: 0.14px;
 align-self: stretch;

}

.button-content .star{
  color: #3B3F5C;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
opacity: 0.800000011920929;
align-self: stretch;

}

.button-content .with{
  color: #3B3F5C;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
opacity: 0.800000011920929;
align-self: stretch;
margin-right: 90px;
}
.star{
  text-align:right;
}
